/*CLASES REUTILIZABLES*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

.flex-container{
  display: flex;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container:after {
    clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}
a:hover {
  color: #E95853;
}
/*SI USAMOS LA CLASE HARÁ QUE SEA EN MAYÚSCULAS.
ASÍ LO UTILIZAMOS VARIAS VECES.*/
.text-uppercase {
  text-transform: uppercase;
}
a:active {
  color: yellow;
  background-color: black;
}
.link {
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.logo {
  float: right;
}

header {
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}

.menu {
  padding: 14px 70px;
  overflow: auto;
}

#home {
  background-image: url(../assets/images/bg-home.jpg); /*PARA QUE SALGA BIEN LA IMAGEN NO SE COLOCA EL ASSETS*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}

#home .container{
  color: white;
  padding: 70px;
}

.text-home {
  font-size: 53px;
}

.btn-home {
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 700;
  font-size: 25px;
  color: black;
  background-color: #9b0e0e;
  margin-top: 20px;
}

.btn-home:hover{
  background: rgba(0,0,0,0);
  color: #9b0e0e;
  box-shadow: inset 0 0 0 3px #9b0e0e;
}

#services {
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}

.box-services {
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}

.text-services {
  font-size: 35px;
  letter-spacing: 2px;
}
.text-work{
  font-size: 35px;
  letter-spacing: 2px;
}

#work{
  text-align: center;
}
.box-work {
  display: inline-block;
  width: 30%;
  margin-top: 63px;
  margin-bottom: 50px;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.row1:before,
.row1:after {
  content: "";
  display: table;
}

.row1:after {
  clear: both;
}
.row2:before,
.row2:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  min-height: 7px;
  float: left;
}

.caja {
  background-color: #70dea3;
  height: 100px;
}

.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-12 {
  width: 100%
}
.zoom{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
.zoom:hover{ 
  -webkit-transform: scale(1.5);
  transform: scale(1.5)
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

footer {
  text-align: center;
  height: 70px;
  background: #373B47;
  color: white;
  padding-top: 7px;
}

.grande {
  width: 100%;
  height: 100%;
}

.muygrande{
  width: 150%;
  height: 150%;
  margin-left: 200px;
  z-index: 6;
}

.equis{
  position: absolute;
  bottom: 400px;
  z-index: 5;
  font: bold 470%;
}

.fondo{
  background-color: blue;
  width: 1000px;
  z-index: 7;
}

.divNuevo {
/*  background-image: url(../assets/images/img-1.jpg);*/
  /*width: 1400px;*/
  width: 100%;
  /*height: 700px;*/
  height: 100%;
  position: fixed;
  top:0 ;
  background-size: contain;
/*  border: double;*/
  background-color: rgba(155,54,153,0.7);
}

#img1{
  opacity: 1.0;
}

.imgDiv {
  position: absolute;
  top: 10px;
  left: 300px;
  width: 700px;
  height: 590px;
  z-index: 0;
  border: 10px solid #000000;
}
.btnDiv{
  position: absolute;
  left: 930px;
/*  border-bottom:none;*/
  background-color: transparent;
  width: 60px;
  height: 70px;
  z-index: 1;
  color: black;
}

#btn1{
  font: bold 400% verdana;
  border-bottom: none;
  border-right:none ;
  border-left:none;
  border-top:none;
}

.btnDiv:hover{
  color: #888080;
}

@font-face {
  font-family: "TradeGothicLtCond18";
  src: url("https://cdn.rawgit.com/AllThingsSmitty/fonts/master/TradeGothicLtCondensed18/TradeGothicLTStd-Cn18.woff2") format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/master/TradeGothicLtCondensed18/TradeGothicLTStd-Cn18.woff") format("woff")
}
:root {
  font-size: calc(1vw + 1vh + .25vmin);
}

h1 {
  display: table-cell;
  font-family: "TradeGothicLtCond18", sans-serif;
  font-size: 5.25em;
  font-weight: 300;
  vertical-align: middle;
  transform: scaleY(1.15);
}
span {
  color: #d0dbd6;
  float: left;
  letter-spacing: .35em;
}
span:first-child,
span:last-child {
  color: #999;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
span:nth-child(n+5) {
  animation: 2.5s fade-2;
  font-weight: 700;
}
span:nth-child(2),
span:nth-child(8) {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
span:nth-child(-n+4) {
  animation: 5s fade-2;
}
span:first-child {
  animation: 5s fade-1;
}
span:last-child {
  animation: 2s fade-1;
}
@keyframes fade-1 {
  from {    
    color: #111;
  }
  to {
    color: #999;
  }
}
@keyframes fade-2 {
  from {    
    color: #111;
  }
  to {
    color: #d0dbd6;
  }
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
figure.snip1206 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  text-align: center;
}
figure.snip1206 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1206 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip1206:after {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.75;
  -webkit-transform: skew(-45deg) scaleX(0);
  transform: skew(-45deg) scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
figure.snip1206 figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
figure.snip1206 h2,
figure.snip1206 p {
  margin: 0;
  width: 100%;
  opacity: 0;
}
figure.snip1206 h2 {
  padding: 0 30px;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
}
figure.snip1206 p {
  padding: 0 50px;
  font-size: 0.8em;
  font-weight: 500;
}
figure.snip1206 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1206:hover:after,
figure.snip1206.hover:after {
  -webkit-transform: skew(-45deg) scaleX(1);
  transform: skew(-45deg) scaleX(1);
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2,
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2 {
  opacity: 1;
}
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
  opacity: 0.7;
}

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}




