.logo-sp{
    width: 9%;
}

body{
    overflow-x: hidden;
    width: 100%;
}

@media (min-width: 576px) { 
    body{
        overflow-x: hidden;
    }
}

@media (min-width: 768px) { 
    body{
        overflow-x: hidden;
    }
}

@media (min-width: 992px) { 
    body{
        overflow-x: hidden;
    }
}

@media (min-width: 1200px) { 
    body{
        overflow-x: hidden;
    }
}

#firstsection, #secondsection{
    position: relative;
    top:0;
    right: 0;
    left: 0;
}

.titleaus1{
    height: 100%;
    padding-top: 300px;
    padding-bottom: 300px;
    position: relative;
    top:0;
}

.title_second{
    padding-top: 50px;
    padding-bottom: 50px;
}

.iconsexplore{
    width: 120px;
}

#firstsection{
    background-color: #343a40;
}

/* #secondsection{
    background-color: black;
} */